<header class="site-header">

  <section class="hero-section">


    <div class="hero">
      <div class="hero_wrap">
        <div class="hero_inner">
          <div class="hero_bg-wrap">
            <div class="hero_bg">
              <div class="hero_text">
           
                <div class="hero_name">
                  <img src="../assets/images/amanda.svg" alt="hero_asset">
                  <img src="../assets/images/escalona.svg" alt="hero_asset">
                </div>
                <div>
                  <h2>escritora
                    <br> creativa</h2>
                  <h2>copywriter</h2>
                </div>
              </div>

              <div class="head">
                <img src="../assets/images/bg_assets_11.png" alt="hero_asset">
              </div>
              <div class="dot">
                <img src="../assets/images/bg_assets_10.png" alt="hero_asset">
              </div>
              <div class="collage-2">
                <img src="../assets/images/bg_assets_6.png" alt="hero_asset">
              </div>
              <div class="branch">
                <img src="../assets/images/bg_assets_5.png" alt="hero_asset">
              </div>
              <div class="duck">
                <img src="../assets/images/bg_assets_3.png" alt="hero_asset">
              </div>
              <div class="flower">
                <img src="../assets/images/bg_assets_2.png" alt="hero_asset">
              </div>
              <div class="collage-1">
                <img src="../assets/images/bg_assets_1.png" alt="hero_asset">
              </div>
              <div class="moon">
                <img src="../assets/images/bg_assets_4.png" alt="hero_asset">
              </div>
              <div class="lightning">
                <img src="../assets/images/bg_assets_7.png" alt="hero_asset">
              </div>
              <div class="hero_face">
                <img src="../assets/images/amanda_hero.png" alt="hero_asset" class="hero_face-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-rips"></div>

  </section>
  
</header>

{%- include navbar.html -%}