<div class="loadingio-spinner-chunk-dbx6iduf9ls">
  <div class="ldio-1wzc3oo5mu4j">
    <div>
      <div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  @keyframes ldio-1wzc3oo5mu4j-r {

    0%,
    25%,
    50%,
    75%,
    100% {
      animation-timing-function: cubic-bezier(0, 1, 0, 1)
    }

    0% {
      transform: scale(0.7000000000000001) rotate(180deg)
    }

    25% {
      transform: scale(0.7000000000000001) rotate(270deg)
    }

    50% {
      transform: scale(0.7000000000000001) rotate(360deg)
    }

    75% {
      transform: scale(0.7000000000000001) rotate(450deg)
    }

    100% {
      transform: scale(0.7000000000000001) rotate(540deg)
    }
  }

  @keyframes ldio-1wzc3oo5mu4j-z {

    0%,
    50%,
    100% {
      animation-timing-function: cubic-bezier(1, 0, 0, 1)
    }

    0% {
      transform: scale(1)
    }

    50% {
      transform: scale(1)
    }

    100% {
      transform: scale(.5)
    }
  }

  @keyframes ldio-1wzc3oo5mu4j-p {

    0%,
    50%,
    100% {
      animation-timing-function: cubic-bezier(1, 0, 0, 1)
    }

    0% {
      transform: scale(0)
    }

    50% {
      transform: scale(1)
    }

    100% {
      transform: scale(1)
    }
  }

  @keyframes ldio-1wzc3oo5mu4j-c {

    0%,
    25%,
    50%,
    75%,
    100% {
      animation-timing-function: cubic-bezier(0, 1, 0, 1)
    }

    0% {
      background: #482173
    }

    25% {
      background: #2e6f8e
    }

    50% {
      background: #29af7f
    }

    75% {
      background: #bddf26
    }

    100% {
      background: #482173
    }
  }

  .ldio-1wzc3oo5mu4j>div {
    animation: ldio-1wzc3oo5mu4j-r 4s linear infinite;
    transform-origin: 100px 100px;
  }

  .ldio-1wzc3oo5mu4j>div>div {
    width: 200px;
    height: 200px;
    position: absolute;
    animation: ldio-1wzc3oo5mu4j-z 1s linear infinite;
    transform-origin: 200px 200px;
  }

  .ldio-1wzc3oo5mu4j>div>div div {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #482173;
    transform-origin: 50px 50px
  }

  .ldio-1wzc3oo5mu4j>div>div div:nth-child(1) {
    left: 0px;
    top: 0px;
    animation: ldio-1wzc3oo5mu4j-p 1s linear infinite, ldio-1wzc3oo5mu4j-c 4s linear infinite;
  }

  .ldio-1wzc3oo5mu4j>div>div div:nth-child(2) {
    left: 100px;
    top: 0px;
    animation: ldio-1wzc3oo5mu4j-p 1s linear infinite, ldio-1wzc3oo5mu4j-c 4s linear infinite;
  }

  .ldio-1wzc3oo5mu4j>div>div div:nth-child(3) {
    left: 0px;
    top: 100px;
    animation: ldio-1wzc3oo5mu4j-p 1s linear infinite, ldio-1wzc3oo5mu4j-c 4s linear infinite;
  }

  .ldio-1wzc3oo5mu4j>div>div div:nth-child(4) {
    left: 100px;
    top: 100px;
    transform: scale(1);
    animation: ldio-1wzc3oo5mu4j-c 4s linear infinite
  }

  .loadingio-spinner-chunk-dbx6iduf9ls {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
  }

  .ldio-1wzc3oo5mu4j {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
  }

  .ldio-1wzc3oo5mu4j div {
    box-sizing: content-box;
  }

  /* generated by https://loading.io/ */

</style>
