<section id="urania">
    <h2>Conoce más de mis emprendimientos</h2>
    <div id="side-projects">
      <a href="https://www.instagram.com/sphynxschaos/" target="_blank" rel="noopener noreferrer">
        <div>
          <img src="/assets/images/logo-bg-none--mod.png" alt="">
        </div>
      </a>
      <a href="https://www.instagram.com/urania.digital/" target="_blank" rel="noopener noreferrer">
        <div>
          <img src="/assets/images/favicon_1.png" alt="">
        </div>
      </a>
    </div>

  </section>