---
layout: simple
---
<section id="contact">
  <img src="/assets/images/absurd.design32.png" alt="Amanda Escalona | Contacto " class="contact-img">
  <div class="contact-side">
    <p>Estoy interesada en oportunidades freelancer, especialmente proyectos ambiciosos o grandes, también puedes
      escribirme si tienes otra solicitud o pregunta.
    </p>
    <p>
      No dudes en ponerte en contacto conmigo a través del siguiente formulario: </p>
  </div>
  <div class="email">

    <form action="https://formspree.io/xdowgedg" method="POST">
      <div>
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" placeholder="Tu nombre" required>
        <span>Campo requerido</span>
      </div>
      <div>
        <label for="_replyto">Tu correo</label>
        <input type="email" name="_replyto" id="_replyto" placeholder="correo@personal.meh" required>
        <span>Campo requerido</span>
      </div>
      <div>
        <label for="message"> Mensaje</label>
        <textarea name="message" id="message" rows="3" required
          placeholder="Tengo un proyecto genial que podríamos hacer juntos"></textarea>
        <span>Campo requerido</span>
      </div>
      <button type="submit" class="btn-cta">¡Enviar!</button>
    </form>
  </div>

</section>
